<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>LCL ERefill Services Web Application</display-name>
	
	

<!-- 	<listener>
		<listener-class>org.hdiv.listener.InitListener</listener-class>
	</listener>

	HDIV Validator Filter
	<filter>
		<filter-name>ValidatorFilter</filter-name>
		<filter-class>org.hdiv.filter.ValidatorFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ValidatorFilter</filter-name>
		Spring MVC Servlet name
		<servlet-name>lcl-erefill</servlet-name>
	</filter-mapping>
 -->
	<!-- <filter> <filter-name>corsFilter</filter-name> <filter-class>com.lcl.erefill.core.web.filters.CorsFilter</filter-class> 
		</filter> -->

	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.lcl.erefill.core.web.filters.AuthenticationFilter</filter-class>
		<init-param>
			<description>Pattern for excluding the url not participating in session</description>
			<param-name>excludePatterns</param-name>
			<param-value>^.*/(html|css|js|fonts|images|styles)/.*$</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>responseFilter</filter-name>
		<filter-class>com.lcl.erefill.core.web.filters.StatusReportingFilter</filter-class>
		<init-param>
			<description>Pattern for excluding the url not participating in session</description>
			<param-name>excludePatterns</param-name>
			<param-value>^.*/(html|css|js|fonts|images|styles)/.*$</param-value>
		</init-param>
	</filter>


	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>responseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter-mapping> <filter-name>corsFilter</filter-name> </filter-mapping> -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>lcl-erefill</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>lcl-erefill</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<listener>
		<description>eRefill session activation listener</description>
		<listener-class>com.lcl.erefill.core.listeners.ErefillSessionActivationListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/lcl-erefill-servlet.xml</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>


	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error.jsp</location>
	</error-page>
	<error-page>
	<error-code>500</error-code>
	<location>/jsp/error.jsp</location> 
    </error-page> 

	<jsp-config>
		<taglib>
			<taglib-uri>csrf-tags</taglib-uri>
			<taglib-location>/WEB-INF/csrf.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>